{% extends '/www/so_web_base.html' %}

{% block title %}
  JAAMIC AL-UMMAH HOME
{% endblock %}

{% block content %}
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(/assets/islamic_education/img/slide/slide-1.jpg);">
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Kusoo Dhawaada Markaz Jaamic al-Ummah</h2>
            <p>
              Markaz Jaamic al-Ummah waa goob waxbarasho oo Islaami ah, halkaas oo ardaydu ku baranayaan diinta Islaamka iyada oo la adeegsanayo manhaj saliim ah, faham dhammaystiran iyo dhaqan suuban.
            </p>
            <div class="text-center"><a href="" class="btn-get-started">Akhri Wax Dheeraad Ah</a></div>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(/assets/islamic_education/img/slide/slide-2.jpg);">
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Barashada iyo Fahamka Diinta</h2>
            <p>
              Markazka wuxuu siinayaa ardayda aqoon diini ah oo qoto dheer, oo ku qotonta Qur'aanka Kariimka iyo Sunnaha Nabiga (NNKH), si kor loogu qaado aqoontooda iyo fahamkooda diinta Islaamka.
            </p>
            <div class="text-center"><a href="" class="btn-get-started">Akhri Wax Dheeraad Ah</a></div>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(/assets/islamic_education/img/slide/slide-3.jpg);">
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Dhisidda Bulshada Wanaagsan</h2>
            <p>
              Waxbarashadu waa furaha horumarka shakhsiga iyo kan bulshada; sidaas darteed, Markaz Jaamic al-Ummah wuxuu diiradda saarayaa inuu abuuro jiil aqoon iyo akhlaaq wanaagsan leh, diyaar u ah inay hogaamiyaan isbeddel bulshadeed.
            </p>
            <div class="text-center"><a href="" class="btn-get-started">Akhri Wax Dheeraad Ah</a></div>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

  </div>
</section><!-- End Hero -->


<main id="main">

  <!-- ======= About Us Section ======= -->
 <!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
  <div class="container" data-aos="fade-up">
    <div class="row content">
      <div class="col-lg-6" data-aos="fade-right">
        <h2>Ku Saabsan Markazu Jaamic al-Ummah</h2>
        <h3>Xarun Diimeed oo Lagu Talagay Barashada iyo ku dhaqanka shareecada islaamka oo ku taalla Cadaado, Gobolka Galgaduud, Soomaaliya</h3>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
        <p>
          "Markazu Jaamic al-Ummah", oo ku yaalla Gobolka Galgaduud, degmada Cadaado, waa xarun diimeed loo aasaasay barashada iyo ku dhaqanka culuumta shareecada Islaamka. Waxay bixisaa manhaj dhammaystiran oo isugu jira luqadda Carabiga, naxwaha, fiqiga, tawxiidka, tajwiidka Qur’aanka, iyo adabka, iyadoo ujeedku yahay kobcinta maskaxda jiilka cusub iyo diyaarinta jiil ku dhaqma shareecada Islaamka.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Macallimiin u heellan abuurista jawi waxbarasho oo dhiirrigelin leh</li>
          <li><i class="ri-check-double-line"></i> Manhaj isugu jira duruusta Qur'aanka, Xadiithka, Fiqhiga, taariikhda Islaamka</li>
          <li><i class="ri-check-double-line"></i> Hagidda ardayda si ay u gaaraan baraarug aqooneed iyo mid ruuxi ah</li>
        </ul>
        <p class="fst-italic">
          Nagu soo biir si aad u raacdo jidka aqoonta iyo koboca ruuxiga ee Markazu Jaamic al-Ummah.
        </p>
      </div>
    </div>
  </div>
</section>

  
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <!-- Service 1 -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box iconbox-blue">
          <div class="icon">
            <i class="bx bx-book-open"></i>
          </div>
          <h4><a href="">Duruusta Diiniga ah</a></h4>
          <p>Bixinta duruus diini ah oo dhammaystiran sida Fiqiga, Tawxiidka, Tajwiidka Qur'aanka, iyo Adabka.</p>
        </div>
      </div>

      <!-- Service 2 -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box iconbox-orange ">
          <div class="icon">
            <i class="bx bx-home"></i>
          </div>
          <h4><a href="">Goobaha Jiifka iyo Cuntada</a></h4>
          <p>Goobo jiif iyo meelo lagu cunteeyo oo tayo leh, oo bilaash ah si ardayda ay ugu tafaruqaan barashada shareecada Islaamka.</p>
        </div>
      </div>

      <!-- Service 3 -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box iconbox-pink">
          <div class="icon">
            <i class="bx bx-trophy"></i>
          </div>
          <h4><a href="">Imtixaano iyo Bandhigyo</a></h4>
          <p>Qabashada imtixaano iyo bandhigyo waxbarasho si loo qiimeeyo horumarka ardayda iyo in lagu dhiirrigeliyo barashada joogtada ah.</p>
        </div>
      </div>

      <!-- Service 4 -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box iconbox-yellow">
          <div class="icon">
            <i class="bx bx-bookmark-heart"></i>
          </div>
          <h4><a href="">Casharo Diimeed Dheeraad ah</a></h4>
          <p>Casharo diimeed dheeri ah oo loogu talagalay bulshada deegaanka, kuwaas oo si joogto ah looga bixiyo masjidka markazka ku yaal.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="/assets/islamic_education/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>App</p>
            <a href="/assets/islamic_education/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="/assets/islamic_education/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a href="/assets/islamic_education/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="/assets/islamic_education/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 2</h4>
            <p>App</p>
            <a href="/assets/islamic_education/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="/assets/islamic_education/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 2</h4>
            <p>Card</p>
            <a href="/assets/islamic_education/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="/assets/islamic_education/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 2</h4>
            <p>Web</p>
            <a href="/assets/islamic_education/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="/assets/islamic_education/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>App 3</h4>
            <p>App</p>
            <a href="/assets/islamic_education/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="/assets/islamic_education/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 1</h4>
            <p>Card</p>
            <a href="/assets/islamic_education/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="/assets/islamic_education/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 3</h4>
            <p>Card</p>
            <a href="/assets/islamic_education/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="/assets/islamic_education/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a href="/assets/islamic_education/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Our Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Clients</h2>
      </div>

      <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="/assets/islamic_education/img/clients/client-1.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="/assets/islamic_education/img/clients/client-2.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="/assets/islamic_education/img/clients/client-3.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="/assets/islamic_education/img/clients/client-4.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="/assets/islamic_education/img/clients/client-5.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="/assets/islamic_education/img/clients/client-6.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="/assets/islamic_education/img/clients/client-7.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="/assets/islamic_education/img/clients/client-8.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Our Clients Section -->

</main><!-- End #main -->

{% endblock %}